**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
**/*.png
**/*.jpg
**.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
.helmignore
*lock
yarn-error.log
.history
CNAME
/build/*
node_modules
*.less
*.html
script/@*
other
*.xml
*.webmanifest
*.*.old
