<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Instructor Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lobster Instructor Dashboard">
    <meta name="author" content="Christina Fosheim-Hoag and Noa Levi">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="reactEntry">
        Loading exercises ...
      </div>
      <!-- Load JavaScript -->
      <!-- Put this at the end of body ref https://stackoverflow.com/questions/26566317/invariant-violation-registercomponent-target-container-is-not-a-dom-elem -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>