
.CodeMirror {
  height: 100% !important;
}

.lobster-ex-checkpoints .panel-body {
  white-space: nowrap;
  overflow-x: auto;
}

.nav-tabs > li.disabled {
  cursor: not-allowed;
}

.nav-tabs > li.disabled > a {
  pointer-events: none;
}

.lobster-simulation-height {
  height: calc(100vh - 250px);
}