.coursePills {
    text-align: center;
}

.coursePills > li {
    text-align: center;
}

.coursePills h3 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.queuePills {
    margin-bottom: 10px;
}

.queuePills h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.queuePanes {
    padding-left: 0;
    padding-right: 0;
}

.notAdmin .adminOnly {
    display: none !important;
}

#schedulePicker .scheduleUnit {
    display: block;
    margin: 2px;
    width: 10px;
    height: 1em;
}

#schedulePicker .scheduleUnit-o {
    background-color: green;
}


#schedulePicker .scheduleUnit-c {
    background-color: red;
}



#schedulePicker .scheduleUnit-p {
    background-color: blue;
}


body {
    font-family: 'Muli', sans-serif;
}