@import "node_modules/bootstrap/scss/bootstrap";

.tab-content {
  > .active {
    display: flex;
    flex-grow: 1;
  }
}

.close-button {
    margin: -5px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-right: 0px;
}
